.error_block {
    position: absolute;
    background-color: #1c1c1c;
    border-radius: 8px;
    width: 40%;
    margin-left: 30%;
    top: 30vh;
    padding: 40px;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(15, 238, 227, 0.74);
    -moz-box-shadow: 0px 0px 8px 0px rgba(15, 238, 227, 0.74);
    box-shadow: 0px 0px 8px 0px rgba(15, 238, 227, 0.74);

    text-align: center;
}

.error_block__title {
    font-size: 30px;
    color: #45f3ff;
    margin-bottom: 30px;
}

.error_block__description {
    color: #fff;
    font-weight: 500px;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 28px;
    margin-bottom: 40px;
}

.error_block__btn {
    padding: 7px 15px;
}